body {
    font-family: "Montserrat";
}

#title {
    background-color :#ff4c68;
}
.heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}
#testimonials-id{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

p {
    color :#8f8f8f;
}
.container-fluid {
    padding : 3% 15% 7%;
}

/* Navigation Bar  */

#brand-button {
    font-family: "Ubuntu";
    font-size : 2.5rem;
    font-weight: bold;
}
.navbar {
    margin: 0 0 4.5rem;
}
.nav-item {
    padding : 0 18px;
    
}


.tittle-img {
    
    transform: rotate(25deg);
    position: absolute;  
}

/* Features Section  */
#features {
    padding : 7% 15%;
    background-color: white;
    position: relative;
    z-index: 1;

}
.feature-box {
    text-align: center;
    padding : 4.5%;
}
.icon {
    color :#ef8172;
    margin-bottom: 1rem;
}
.icon:hover {
    color :#ff4c68;
}

/* Testimonial Section  */

#testimonials {
    background-color:#ef8172 ;
    text-align: center;
}
.dog-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item {
    padding: 7% 15%;

}

#press {
    background-color:#ef8172 ;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo {
    width: 15%;
    margin: 20px 20px 30px;
}

/* Pricing Section  */

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-coloumn  {
   margin: 5% auto;
}

@media (max-width : 993px) {
    #title {
        text-align: center;
    }
    .tittle-img {
        position: static;
        transform: rotate(0);
    }
}
 /* Call To Action  */
 #cta {
    background-color: #ff4c68;
    text-align: center;
    padding : 7% 0;
}
.footer-btn {
    margin : 30px 0 15px 15px ;
}

/* Footer  */
#footer {
    text-align: center;
    padding : 7%;
   
}
.social-icon {
    margin : 20px 10px;
    color : black;
}